<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<!--  menu begin-->
	<div class="header" th:fragment="copy">
		<div class="headerinner">
			<ul class="headernav">
			    <li class="logo"><img src="img/logo-mini.png" alt="" /></li>
				<li class = "mEquipment"><a href="allEquipment">Equipment</a></li>
				<li class = "mEXAMPLE"><a href="#">EXAMPLE</a></li>
				<li class = "mFILE"><a href="allFile">FILE</a></li>
				<li class = "mSCAN"><a href="#">SCAN</a></li>
				<li class = "mSLICE"><a href="#">SLICE</a></li>
			</ul>
		</div>
	</div>
	<!--  menu end-->
</html>	